# coding: utf-8

"""
    Mailchimp Transactional API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.3.0
    Contact: apihelp@mailchimp.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mailchimp_transactional.api_client import ApiClient

class MctemplatesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_key='', api_client = None):
        self.api_key = api_key
        if api_client:
            self.api_client = api_client
        else:
            self.api_client = ApiClient()

    def mc_templates_info(self, body = {}, **kwargs):  # noqa: E501
        """Get Mailchimp Template info  # noqa: E501

        Get information about a Mailchimp Transactional template in your account.  # noqa: E501
        """
        (data) = self.mc_templates_info_with_http_info(body, **kwargs)  # noqa: E501
        return data

    def mc_templates_info_with_http_info(self, body, **kwargs):  # noqa: E501
        """Get Mailchimp Template info  # noqa: E501

        Get information about a Mailchimp Transactional template in your account.  # noqa: E501
        """

        all_params = ['body']  # noqa: E501

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method mc_templates_info" % key
                )
            params[key] = val
        del params['kwargs']

        # add api_key to body params
        params['body']['key'] = self.api_key

        body_params = None
        if 'body' in params:
            body_params = params['body']

        return self.api_client.call_api(
            '/mctemplates/info', 'POST',
            body=body_params,
            response_type='InlineResponse20029') # noqa: E501

    def mc_templates_list(self, body = {}, **kwargs):  # noqa: E501
        """List Mailchimp Transactional Templates  # noqa: E501

        Return a list of all Mailchimp Transactional templates available to this user.  # noqa: E501
        """
        (data) = self.mc_templates_list_with_http_info(body, **kwargs)  # noqa: E501
        return data

    def mc_templates_list_with_http_info(self, body, **kwargs):  # noqa: E501
        """List Mailchimp Transactional Templates  # noqa: E501

        Return a list of all Mailchimp Transactional templates available to this user.  # noqa: E501
        """

        all_params = ['body']  # noqa: E501

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method mc_templates_list" % key
                )
            params[key] = val
        del params['kwargs']

        # add api_key to body params
        params['body']['key'] = self.api_key

        body_params = None
        if 'body' in params:
            body_params = params['body']

        return self.api_client.call_api(
            '/mctemplates/list', 'POST',
            body=body_params,
            response_type='list[InlineResponse20029]') # noqa: E501

    def mc_templates_render(self, body = {}, **kwargs):  # noqa: E501
        """Render Mailchimp Transactional Template  # noqa: E501

        Render a Mailchimp Transactional template with optional merge variables.  # noqa: E501
        """
        (data) = self.mc_templates_render_with_http_info(body, **kwargs)  # noqa: E501
        return data

    def mc_templates_render_with_http_info(self, body, **kwargs):  # noqa: E501
        """Render Mailchimp Transactional Template  # noqa: E501

        Render a Mailchimp Transactional template with optional merge variables.  # noqa: E501
        """

        all_params = ['body']  # noqa: E501

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method mc_templates_render" % key
                )
            params[key] = val
        del params['kwargs']

        # add api_key to body params
        params['body']['key'] = self.api_key

        body_params = None
        if 'body' in params:
            body_params = params['body']

        return self.api_client.call_api(
            '/mctemplates/render', 'POST',
            body=body_params,
            response_type='InlineResponse20030') # noqa: E501

    def mc_templates_time_series(self, body = {}, **kwargs):  # noqa: E501
        """Get Mailchimp Transactional Template Time Series  # noqa: E501

        Return the recent history (hourly stats for the last 30 days) for a Mailchimp Transactional template. Returns an empty array if the template exists but has never been used to send messages.  # noqa: E501
        """
        (data) = self.mc_templates_time_series_with_http_info(body, **kwargs)  # noqa: E501
        return data

    def mc_templates_time_series_with_http_info(self, body, **kwargs):  # noqa: E501
        """Get Mailchimp Transactional Template Time Series  # noqa: E501

        Return the recent history (hourly stats for the last 30 days) for a Mailchimp Transactional template. Returns an empty array if the template exists but has never been used to send messages.  # noqa: E501
        """

        all_params = ['body']  # noqa: E501

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method mc_templates_time_series" % key
                )
            params[key] = val
        del params['kwargs']

        # add api_key to body params
        params['body']['key'] = self.api_key

        body_params = None
        if 'body' in params:
            body_params = params['body']

        return self.api_client.call_api(
            '/mctemplates/time-series', 'POST',
            body=body_params,
            response_type='list[InlineResponse20031]') # noqa: E501
