# coding: utf-8

"""
    Mailchimp Transactional API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.4.0
    Contact: apihelp@mailchimp.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from mailchimp_transactional.api_client import ApiClient

class UrlsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_key='', api_client = None):
        self.api_key = api_key
        if api_client:
            self.api_client = api_client
        else:
            self.api_client = ApiClient()

    def add_tracking_domain(self, body = {}, **kwargs):  # noqa: E501
        """Add tracking domains  # noqa: E501

        Add a tracking domain to your account.  # noqa: E501
        """
        (data) = self.add_tracking_domain_with_http_info(body, **kwargs)  # noqa: E501
        return data

    def add_tracking_domain_with_http_info(self, body, **kwargs):  # noqa: E501
        """Add tracking domains  # noqa: E501

        Add a tracking domain to your account.  # noqa: E501
        """

        all_params = ['body']  # noqa: E501

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_tracking_domain" % key
                )
            params[key] = val
        del params['kwargs']

        # add api_key to body params
        params['body']['key'] = self.api_key

        body_params = None
        if 'body' in params:
            body_params = params['body']

        return self.api_client.call_api(
            '/urls/add-tracking-domain', 'POST',
            body=body_params,
            response_type='InlineResponse20077') # noqa: E501

    def check_tracking_domain(self, body = {}, **kwargs):  # noqa: E501
        """Check cname settings  # noqa: E501

        Checks the CNAME settings for a tracking domain. The domain must have been added already with the add-tracking-domain call.  # noqa: E501
        """
        (data) = self.check_tracking_domain_with_http_info(body, **kwargs)  # noqa: E501
        return data

    def check_tracking_domain_with_http_info(self, body, **kwargs):  # noqa: E501
        """Check cname settings  # noqa: E501

        Checks the CNAME settings for a tracking domain. The domain must have been added already with the add-tracking-domain call.  # noqa: E501
        """

        all_params = ['body']  # noqa: E501

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method check_tracking_domain" % key
                )
            params[key] = val
        del params['kwargs']

        # add api_key to body params
        params['body']['key'] = self.api_key

        body_params = None
        if 'body' in params:
            body_params = params['body']

        return self.api_client.call_api(
            '/urls/check-tracking-domain', 'POST',
            body=body_params,
            response_type='InlineResponse20079') # noqa: E501

    def delete_tracking_domain(self, body = {}, **kwargs):  # noqa: E501
        """Delete tracking domain  # noqa: E501

        Deletes an unverified tracking domain from your account. Valid tracking domains cannot be deleted via API and require login confirmation.  # noqa: E501
        """
        (data) = self.delete_tracking_domain_with_http_info(body, **kwargs)  # noqa: E501
        return data

    def delete_tracking_domain_with_http_info(self, body, **kwargs):  # noqa: E501
        """Delete tracking domain  # noqa: E501

        Deletes an unverified tracking domain from your account. Valid tracking domains cannot be deleted via API and require login confirmation.  # noqa: E501
        """

        all_params = ['body']  # noqa: E501

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_tracking_domain" % key
                )
            params[key] = val
        del params['kwargs']

        # add api_key to body params
        params['body']['key'] = self.api_key

        body_params = None
        if 'body' in params:
            body_params = params['body']

        return self.api_client.call_api(
            '/urls/delete-tracking-domain', 'POST',
            body=body_params,
            response_type='InlineResponse20078') # noqa: E501

    def tracking_domains(self, body = {}, **kwargs):  # noqa: E501
        """List tracking domains  # noqa: E501

        Get the list of tracking domains set up for this account.  # noqa: E501
        """
        (data) = self.tracking_domains_with_http_info(body, **kwargs)  # noqa: E501
        return data

    def tracking_domains_with_http_info(self, body, **kwargs):  # noqa: E501
        """List tracking domains  # noqa: E501

        Get the list of tracking domains set up for this account.  # noqa: E501
        """

        all_params = ['body']  # noqa: E501

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method tracking_domains" % key
                )
            params[key] = val
        del params['kwargs']

        # add api_key to body params
        params['body']['key'] = self.api_key

        body_params = None
        if 'body' in params:
            body_params = params['body']

        return self.api_client.call_api(
            '/urls/tracking-domains', 'POST',
            body=body_params,
            response_type='list[InlineResponse20076]') # noqa: E501
